.dialog-container{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color: black;
  opacity: 0.3;
  z-index: 10;
}

.dialog{
  container-type: inline-size;
  width:50%;
  min-height: 30%;
  position:absolute;
  z-index:11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@container (max-width: 150px) {
  .title-text{
    font-size: 6cqw;
  }

  .content-text{
    font-size:6cqw;
  }
}



