<!--
<ngx-graph
  class="chart-container"
  [links]="links"
  [view]="[application.fsm.width,application.fsm.height]"
  [nodes]="nodes"
  [update$]="update$"
  [draggingEnabled]="false"
>


  <ng-template #nodeTemplate let-node>
    <svg (click)="node.state === NodeStatus.ACTIVE && onNodeClick(node)">
      <rect rx="10" ry="10" [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [style.fill]="nodeColors[node.state]" stroke="black" stroke-width="2"></rect>
      <text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">{{ node.label }}</text>
    </svg>
  </ng-template>


</ngx-graph>
<button class="drag-handler" mat-fab style="position: absolute;bottom:10px;right:10px">
  <mat-icon>
    home
  </mat-icon>
</button>
-->
