:host{
  height:100%;
}

.plugins-grid-container{
  width:100%;
  height:100%;
  padding:2%;
  box-sizing: border-box;
}

.gridster-item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: auto;
}
