:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.drawer-container{
  position:relative;
  display: flex;
  flex:1;
}

.drawer{
  width:18vw;
  background-color: rgb(119,161,215);
  box-sizing: border-box;
  top:5%;
  bottom:5%;
  border-radius: 1vw;
}

.app-bar{
  display: flex;
  background-color: rgb(119,161,215);
}

.page-container{
  display: flex;
  flex-direction: column;
  flex:1;
  height: 100%;
  width: 100%;
}
