:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.drawer-container{
  position:relative;
  display: flex;
  flex:1;
}

.drawer{
  display:flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  width:18vw;
  background-color: rgb(119,161,215);
  box-sizing: border-box;
  top:5%;
  bottom:5%;
  border-radius: 1vw;
}

.drawer-robotCellContainer{
  margin:0%;
  width:16vw;
  margin-left:1vw;
  margin-top:1vw;
}

.app-bar{
  box-sizing: border-box;
  display: flex;
  background-color: rgb(119,161,215);
}

.app-bar-CellContainer{
  box-sizing: border-box;
  aspect-ratio: 181/52;
  margin-inline:0.5vw;
  height:80%;
}

.page-container{
  display: flex;
  flex-direction: column;
  flex:1;
  height: 100%;
  width: 100%;
}

.spinner-container{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.reload-button-container{
  display:flex;
  width:100%;
  margin-top:1vw;
  justify-content: center;
  align-items: center;
}

.reload-button{
  background-color: white;
  width:12%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.reload-button-image{
  width:70%;
  aspect-ratio: 1;
}

.reload-button:hover{
  background-color: #dfdfdf;
  cursor:pointer;
}

.reload-button:active{
  transform: scale(0.99);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.10);
}


