<graphy-ng>
    <ng-container *defsTemplate>
        <svg>
            <marker
                    id="arrow"
                    viewBox="0 -5 10 10"
                    refX="8"
                    refY="0"
                    markerWidth="4"
                    markerHeight="4"
                    orient="auto"
            >
                <svg>
                    <path d="M0,-5L10,0L0,5" />
                </svg>

            </marker>
        </svg>

    </ng-container>

    <ng-container *nodeTemplate="let node; nodes: nodes">
        <svg>
            <circle cx="25" cy="25" r="25" />
            <text fill="blue" transform="translate(0 30)">{{ node.data.name }}</text>
        </svg>

    </ng-container>

    <ng-container *edgeTemplate="let edge; edges: edges">
        <svg>
            <path marker-end="url(#arrow)" [attr.d]="edge.pathDefinition"></path>
        </svg>
    </ng-container>
</graphy-ng>
