.container.Actions {
  	background-color: #1868a8;
}

.form {
	/*border: 3px solid blue;*/
  	border-radius: 20px;
  	font-size: 1.3vw;
  	font-weight: bold;
	width: 100%;
}

.form.run{
  	background: lightgreen;
}

.form.ready{
  	background: ghostwhite;
}

.form.disabled{
	background: lightgray;
}
.form.done{
  	background: dodgerblue;
}


.form.button {
  	border: none /* 3px solid red*/;
}
.form.button.run {
  	color: lightseagreen;
}
.form.button.ready {
  	color: #1868a8;
}
.form.button.disabled {
  	color: gray;
}
.form.button.done {
  	color: ghostwhite;
}
