.container.chat {
  background-color: salmon;
  /*border: solid black;
  width: 20%;*/
  height: 100%;
}
.chat.body
{
  height: 80%;
  /*border: solid pink;*/
}


.chat.composer {
  margin-top: 10px;
  /*border: solid gold;*/
}

.chat.window {
  /*border-radius: 20px;
  border: solid green;*/
  display: flex;
  overflow-y: auto;
}

.chat.window.ready {
  background-color: ghostwhite;
}

.chat.window.run {
  background-color: lightgreen;
}

.chat.window.done {
  background-color: ghostwhite;
}

.chat.box {
  /*width: 100%;*/
  height: 95%;
  /*border: 3px solid red;*/
  border-radius: 3px;
  margin-bottom: 10px;
}

.chat.inner.message {
  height: fit-content;
  width: fit-content;
  text-align: left;
  max-width: 365px;
  font-size: 1vw;
  color: ghostwhite;
  background-color: darksalmon;
  /*border: solid black;*/
  border-radius: 10px;
  padding: 2px 4px;
  margin : 10px;

  display: flex;
}

.chat.reference {
  border: none
  /*display: flex;
  flex-direction: row;
  flex-basis: 100%;*/
}
