.container {
	border-radius: 20px;
	font-size: 2vw;
  	padding: 5px;
  	text-align: center;
  	width: fit-content;
}

.container > div {
  	padding: 5px 0;
}

.container.IntroGUI {
  	background-color: cornflowerblue;
}

.header{
	font-weight: bold;
	color: ghostwhite;
}

.button.IntroGUI{
	font-size: 4vw;
	width: 12%;
	color: ghostwhite;
}