.item1 { grid-area: header; }
.item2 { grid-area: camera; }
.item3 { grid-area: info  ; }
.item4 { grid-area: action; }
.item5 { grid-area: chat  ; }
.item6 { grid-area: footer; }

.container.main {
  display: grid;
  grid-template-areas:
    'header   header'
    'camera   info  ' 
    'action   chat  '
    'footer   footer';
  grid-gap: 20px;
}
/*
.container.main > div {
  text-align: center;
  font-size: 2.0vw;
}
*/