<div  class="plugins-grid-container">
  <gridster [options]="options" style="background-color: rgb(242,242,242)">
    <gridster-item style="box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);box-sizing: content-box;" *ngFor="let plugin of application.enabledPlugins$ | async" [item]="{x:plugin.x,y:plugin.y,cols:plugin.cols,rows:plugin.rows,id:plugin.id}">
      <mat-card class="gridster-item-content drag-handler" >
        <ng-container *ngComponentOutlet="plugin.component; inputs:{application:application,plugin:plugin,width:itemsSize[plugin.id]?.width,height:itemsSize[plugin.id]?.height}"></ng-container>
      </mat-card>
    </gridster-item>
  </gridster>
</div>

