:host{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1 1 auto;
  background-color: orange;
  width:100%;
  height:100%;
  min-height: 0;
}

.robot-image{
  width:10%;
  min-width: 100px;
  margin:50px;
}

.primary-text{
  font-size:36px;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.secondary-text{
  font-size: 24px;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  font-weight: 500;
}
